<header class="header">
  <div class="container">
    <div class="header__block">
      <a href="#"><img src="img/logo.png" alt="logo"></a>
      <button class="burger__button" type="button">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="5" fill="#384D70" />
          <line x1="13" y1="13" x2="28" y2="13" stroke="white" stroke-width="2" stroke-linecap="round" />
          <line x1="13" y1="19" x2="28" y2="19" stroke="white" stroke-width="2" stroke-linecap="round" />
          <line x1="13" y1="25" x2="28" y2="25" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
      </button>
      <nav>
        <a href="#how-it-works">How it works</a>
        <a href="#play-to-earn">Play and earn</a>
        <a href="#roadmap">Roadmap</a>
        <a href="#team">Team</a>
        <a href="#invest">Why invest in SpiderShiba</a>
        <a href="#tokenomics">Tokenomics</a>
        <a href="#faq">FAQ</a>
        <a href="#community">Community</a>
        <div class="btn__community">Join Community</div>
      </nav>
      <div class="menu__close">
        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="1" y1="-1" x2="15.9715" y2="-1" transform="matrix(0.707163 -0.707051 0.707163 0.707051 1.99854 13)"
            stroke="white" stroke-width="2" stroke-linecap="round" />
          <line x1="1" y1="-1" x2="15.9715" y2="-1" transform="matrix(0.707163 0.707051 -0.707163 0.707051 1 1)"
            stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
      </div>
      <div class="btn__community">Join Community</div>
    </div>
  </div>
</header>
