<section class="hero">
  <div class="container">
    <div class="hero__block">
      <div class="hero__text">
        <h1><span>Who is</span> mr.<br>Spidershiba Inu?</h1>
        <p class="hero__text__min">it’s a hybrid of Shiba and Spiderman.... but </p>
        <p class="hero__text__max">It’s not only for pump and dump by Elon tweets.<br>This is real NFT game with
          Achiements, Goals and nice gameplay with tokenization</p>
        <img class="hero__pic__hidden" src="img/spidershiba-img.svg" alt="">
        <div class="hero__btn">
          <div class="hero__btn-red">Join Community</div>
          <div class="hero__btn-trans">More about SpiderShiba Inu</div>
        </div>
        <div class="hero__label__string">
          <label class="hero__label">
            <span>Contract address:</span>
            <input class="copy__txt" type="text" name="" value="0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc" required
              readonly>
          </label>
          <i class="fa-solid fa-copy copy__btn"></i>
        </div>
      </div>
      <div class="hero__pic">
        <img src="img/spidershiba-img.svg" alt="spidershiba-img">
      </div>
    </div>
  </div>

  <div class="marquee">
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
    <p>WARNING: this is not a meme coin </p>
  </div>
</section>
