<section class="play-to-earn" id="play-to-earn">
  <div class="container">
    <h2 class="reveal">Play to earn</h2>
    <p class="play-to-earn__p reveal">Many ways to earn tokens and NFTs</p>
    <div class="plot-and-goal__block reveal">
      <img class="plot__block__img" src="img/pleytoearn.png" alt="">
      <div class="plot__block__txt">
        <h3>Game plot and goal</h3>
        <p class="plot__block__p">Mary Jane has been kidnapped by Green Goblin, who has no intention of letting her
          escape, so she flees to New York City, going through different scenarios that will be part of the game!</p>
        <p class="plot__block__p">The goal is to accumulate as many game coins and points as possible, which will then
          be transformed into the game token based also on the attempts used to complete the level.</p>
        <p class="plot__block__p">Once the Green Goblin is defeated and Mary Jane is safed, the game is over, but we
          don't stop there!</p>
      </div>
    </div>
    <div class="earn-events__blocks reveal">
      <div class="earn-events__block earn__block">
        <img class="earn__block__coin_img" src="img/coin.png" alt="">
        <div class="earn__txt">
          <h3>Earn that cash!</h3>
          <p>In the various levels there will also be special coins, more difficult to take, which will provide you with
            bonuses in tokens or game NFTs!</p>
        </div>
      </div>
      <div class="earn-events__block events__block">
        <img class="earn__block__phone_img" src="img/megaphone.png" alt="">
        <div class="events__txt">
          <h3>Game events and challenges</h3>
          <p>There will be lots of events after end of the game, that will bring together whole community and you can
            participate in challanges with the NFTs! </p>
        </div>
      </div>
    </div>
  </div>
</section>
