<section class="roadmap" id="roadmap">
  <div class="roadmap__line"></div>
  <div class="container">
    <div class="roadmap__section">
      <h2 class="reveal">Roadmap</h2>
      <div class="roadmap__blocks">
        <div class="roadmap__block">
          <div class="roadmap__block__number reveal"><span>1</span></div>
          <div class="roadmap__block__txt">
            <h3 class="reveal">August 2021</h3>
            <ul>
              <li class="reveal"><span>Started project ☑️</span></li>
              <li class="reveal"><span>Budget accumulation ☑️</span></li>
              <li class="reveal"><span>Winning team search ☑️</span></li>
            </ul>
          </div>
        </div>
        <div class="roadmap__block roadmap__block__hide"></div>
        <div class="roadmap__block roadmap__block__hide"></div>
        <div class="roadmap__block">
          <div class="roadmap__block__number"><span>2</span></div>
          <div class="roadmap__block__txt">
            <h3 class="reveal">Sept - Nov 2021</h3>
            <ul>
              <li class="reveal"><span>Whitepaper creation ☑️</span></li>
              <li class="reveal"><span>Smartcontract testing ☑️</span></li>
              <li class="reveal"><span>Building ideas for nft game ☑️</span></li>
              <li class="reveal"><span>start developing website and game ☑️</span></li>
              <li class="reveal"><span>start creating NFT ☑️</span></li>
              <li class="reveal"><span>start creating tokenomics ☑️</span></li>
            </ul>
          </div>
        </div>
        <div class="roadmap__block">
          <div class="roadmap__block__number"><span>3</span></div>
          <div class="roadmap__block__txt">
            <h3 class="reveal">Dec - Jan 2022</h3>
            <ul>
              <li class="reveal"><span>Official launch on pinksale ☑️</span></li>
              <li class="reveal"><span>Start marketing campaign ☑️</span></li>
              <li class="reveal"><span>Airdrop ☑️</span></li>
              <li class="reveal"><span>Panckacke swap launch ☑️</span></li>
              <li class="reveal"><span>Start of collaborations with decentraland and the sandbox ☑️</span></li>
            </ul>
          </div>
        </div>
        <div class="roadmap__block roadmap__block__hide"></div>
        <div class="roadmap__block roadmap__block__hide"></div>
        <div class="roadmap__block roadmap__block-planned">
          <div class="roadmap__block__number"><span>4</span></div>
          <div class="roadmap__block__txt">
            <h3 class="reveal">Q1 2022</h3>
            <ul>
              <li class="reveal"><span>Listing on coinmarketcap and coingecko</span></li>
              <li class="reveal"><span>Early beta game</span></li>
              <li class="reveal"><span>Promotion cooperation with big celebrities</span></li>
              <li class="reveal"><span>NFT & Game community build-up</span></li>
              <li class="reveal"><span>NFT collaborations and launch</span></li>
            </ul>
          </div>
        </div>
        <div class="roadmap__block roadmap__block-planned">
          <div class="roadmap__block__number"><span>5</span></div>
          <div class="roadmap__block__txt">
            <h3 class="reveal">Q2 2022</h3>
            <p>
            <ul>
              <li class="reveal"><span>Launch of new website</span></li>
              <li class="reveal"><span>Centralized exchange listening</span></li>
              <li class="reveal"><span>Launch of Spidershiba inu single player</span></li>
              <li class="reveal"><span>Creation of NFT marketplace</span></li>
              <li class="reveal"><span>First teaser of Spidershiba inu World Metaverse multiplayer</span></li>
              <li class="reveal"><span>Android & iOS App release</span></li>
            </ul>
            </p>
          </div>
        </div>
        <div class="roadmap__block roadmap__block__hide"></div>
      </div>
    </div>
  </div>
</section>
