<section class="spider-web">
  <div class="container">
    <div class="spider-web__wrapper">
      <div class="spider-web__logo">
        <img src="img/image1.png" alt="logo">
        <img src="img/image2.png" alt="logo">
        <img src="img/image3.png" alt="logo">
        <img src="img/image4.png" alt="logo">
        <img src="img/image5.png" alt="logo">
        <img src="img/image6.png" alt="logo">
      </div>
      <p class="reveal">Yes you read that right, SpiderShib Inu officially enters the game to conquer the world 🌎</p>
      <img class="spider-web__bg reveal" src="img/spider-web.svg" alt="">
      <div class="spider-web__btn">Let’s find out<br>more</div>
    </div>
  </div>
</section>
