<section class="team" id="team">
  <div class="container">
    <div class="team__section">
      <h2 class="reveal">Team</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="team__emploee swiper-slide">
            <div class="emploee__foto reveal">
              <img src="img/empl1.jpg" alt="">
            </div>
            <p class="emploee__name reveal">Harry Pham</p>
            <p class="emploee__position reveal">Founder and CEO</p>
          </div>
          <div class="team__emploee swiper-slide ">
            <div class="emploee__foto reveal">
              <img src="img/empl2.jpg" alt="">
            </div>
            <p class="emploee__name reveal">Bui Cai</p>
            <p class="emploee__position reveal">Co-founder and CTO</p>
          </div>
          <div class="team__emploee swiper-slide">
            <div class="emploee__foto reveal">
              <img src="img/empl3.jpg" alt="">
            </div>
            <p class="emploee__name reveal">Binh Mai</p>
            <p class="emploee__position reveal">Blockchain expert</p>
          </div>
          <div class="team__emploee swiper-slide">
            <div class="emploee__foto reveal">
              <img src="img/empl4.jpg" alt="">
            </div>
            <p class="emploee__name reveal">Lisa Dowen</p>
            <p class="emploee__position reveal">Marketing and funnels</p>
          </div>
          <div class="team__emploee swiper-slide">
            <div class="emploee__foto reveal">
              <img src="img/empl4.jpg" alt="">
            </div>
            <p class="emploee__name reveal">Lisa Dowen</p>
            <p class="emploee__position reveal">Marketing and funnels</p>
          </div>
          <div class="team__emploee swiper-slide">
            <div class="emploee__foto reveal">
              <img src="img/empl4.jpg" alt="">
            </div>
            <p class="emploee__name reveal">Lisa Dowen</p>
            <p class="emploee__position reveal">Marketing and funnels</p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <h2 class="team__h2 reveal">Partners & Investors</h2>
      <div class="partners__logo">
        <img class="reveal" src="img/image1.png" alt="logo">
        <img class="reveal" src="img/image2.png" alt="logo">
        <img class="reveal" src="img/image3.png" alt="logo">
        <img class="reveal" src="img/image4.png" alt="logo">
        <img class="reveal" src="img/image5.png" alt="logo">
        <img class="reveal" src="img/image6.png" alt="logo">
      </div>
    </div>
  </div>
</section>
