<section class="tokenomics" id="tokenomics">
  <div class="container">
      <div class="tokenomics__section">
          <h2 class="reveal">Tokenomics</h2>
          <div class="tokenomics__blocks">
              <div class="tokenomics__list-block">
                  <div class="tokenomics__list">
                      <div class="tokenomics__list_borders">
                          <span class="lilac" style="width: 19%"></span>
                      </div>
                      <h3 class="reveal">19% on marketing</h3>
                      <p class="reveal">Thanks to our ecosystem you will be able to earn passively and actively</p>
                  </div>
                  <div class="tokenomics__list">
                      <div class="tokenomics__list_borders">
                          <span class="orange" style="width: 5%"></span>
                          <span class="purple" style="width: 6%"></span>
                      </div>
                      <h3 class="reveal">5% for founders, 6% stacked</h3>
                      <p class="reveal">Thanks to our ecosystem you will be able to earn passively and actively</p>
                  </div>
                  <div class="tokenomics__list">
                      <div class="tokenomics__list_borders">
                          <span class="turquoise" style="width: 30%"></span>
                      </div>
                      <h3 class="reveal">30% for liquidity</h3>
                      <p class="reveal">Thanks to our ecosystem you will be able to earn passively and actively</p>
                  </div>
              </div>
              <div class="tokenomics__circle-block reveal">
                  <canvas id="myChart"></canvas>
                  <img class="reveal" src="img/dog_circle.svg" alt="">
              </div>
              <div class="tokenomics__list-block">
                  <div class="tokenomics__list">
                      <div class="tokenomics__list_borders">
                          <span class="darkblue" style="width: 10%"></span>
                      </div>
                      <h3 class="reveal">10% for advisors</h3>
                      <p class="reveal">Thanks to our ecosystem you will be able to earn passively and actively</p>
                  </div>
                  <div class="tokenomics__list">
                      <div class="tokenomics__list_borders">
                          <span class="red" style="width: 15%"></span>
                      </div>
                      <h3 class="reveal">P2e 15%</h3>
                      <p class="reveal">Thanks to our ecosystem you will be able to earn passively and actively</p>
                  </div>
                  <div class="tokenomics__list">
                      <div class="tokenomics__list_borders">
                          <span class="blue" style="width: 15%"></span>
                      </div>
                      <h3 class="reveal">NFT 15%</h3>
                      <p class="reveal">Thanks to our ecosystem you will be able to earn passively and actively</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
